<template>
  <button
    class="button"
    :type="btnType"
    @click="buttonEvent()"
    :class="buttonStyle"
  >
    {{ text }}
  </button>
</template>
<script>
  export default {
    props: {
      btnType: {
        type: String,
        require: true
      },
      text: {
        type: String,
        require: true
      },
      confirm: Boolean,
      btnStyle: String
    },
    methods: {
      buttonEvent() {
        if(this.confirm) {
          if(confirm('Deseja remover a Foto?')){
            this.$emit('buttonAction');
          }
          return;
        }
        this.$emit('buttonAction');
      }
    },
    computed: {
      buttonStyle() {
        if(!this.btnStyle || this.btnStyle == 'default') return 'default';
        if(this.btnStyle == 'warning') return 'warning';
      }
    }
  }
</script>
<style lang="scss" scoped>
  .button {
    display: inline-block;
    vertical-align: middle;
    margin: .5em;
    padding: .5em;
    border: 0;
    border-radius: 10px;
    font-size: .813em;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;

    &.warning {
      background-color: tomato;
    }

    &.default {
      background-color: cornflowerblue;
    }
  }
</style>