<template>
  <div class="container">
    <section class="header">
      <h1 v-if="photo._id" class="title">{{ title.edit }}</h1>
      <h1 v-else class="title">{{ title.register }}</h1>
      <h2 class="subtitle">{{ photo.titulo }}</h2>
    </section>
    <section class="main">
      <form @submit.prevent="register()">
        <comp-input
          label="Título"
          type="text"
          id="title"
          name="title"
          v-validate="'required'"
          data-vv-as="Título"
          data-vv-name="title"
          :value="photo.titulo"
          :error="errors.first('title')"
          @change.native="photo.titulo = $event.target.value"
        />
        <comp-select
          label="Grupo"
          id="grupo"
          :options="groups"
          :selected="photo.grupo"
          @change.native="photo.grupo = $event.target.value"
        >
        </comp-select>
        <comp-input
          label="URL"
          type="text"
          id="url"
          name="url"
          v-validate="'required'"
          data-vv-as="URL"
          data-vv-name="url"
          :value="photo.url"
          :error="errors.first('url')"
          @change.native="photo.url = $event.target.value"
        />
        <div class="photo-box" v-show="photo.url">
          <comp-responsive-img :url="photo.url" :title="photo.titulo" />
        </div>
        <comp-textarea
          label="Descrição"
          id="description"
          :value="photo.descricao"
          v-model="photo.descricao"
        >
        </comp-textarea>
        <div class="box-buttons">
          <comp-button text="Gravar" type="submit" />
          <router-link :to="{ name: 'home' }">
            <comp-button text="Voltar" type="button" />
          </router-link>
        </div>
      </form>
    </section>
  </div>
</template>
<script>
  import ResponsiveImg from '../shared/responsive-img/ResponsiveImg.vue';
  import Button from '../shared/button/Button.vue';
  import Input from '../shared/form/Input.vue';
  import Select from '../shared/form/Select.vue';
  import Textarea from '../shared/form/Textarea.vue';
  import GroupsService from '../../domain/groups/GroupsService';
  import Photo from '../../domain/photos/Photos';
  import PhotosService from '../../domain/photos/PhotosService';

  export default {
    components: {
      'comp-responsive-img': ResponsiveImg,
      'comp-button': Button,
      'comp-input': Input,
      'comp-select': Select,
      'comp-textarea': Textarea,
    },
    data() {
      return {
        title: {
          edit: 'Editar',
          register: 'Cadastrar',
        },
        groups: [],
        photo: new Photo(),
        id: this.$route.params.id
      }
    },
    created() {
      this.groupsService = new GroupsService(this.$resource);
      this.groupsService
        .list()
        .then(
          groups => this.groups = groups,
          err => this.message = err,
        );

      this.service = new PhotosService(this.$resource);
      if(this.id) {
        this.service
          .search(this.id)
          .then(photo => this.photo = photo);
      }
    },
    methods: {
      register() {
        this.$validator
          .validateAll()
          .then(
            success => {
              if(success) {
                this.service
                  .register(this.photo)
                  .then(
                    () => {
                      if(this.id) this.$router.push({ name: 'home' });
                      this.photo = new Photo()},
                    err => console.log(err)
                  );
              }
            }
          )
      }
    }
  }
</script>
<style lang="scss" scoped>
  .container {
    .header {
      .title, .subtitle {
        text-align: center;
      }

      .title {
        font-size: 2.5em;
        text-transform: uppercase;
      }
    }

    .main {
      width: 80%;
      margin: 0 auto;

      .photo-box {
        position: relative;
        width: 15%;
        margin: 1% 0;
        padding-top: 15%;
        border-radius: 20px;
        font-size: 0;
        text-align: center;
        background-color: #f2f2f2;
        overflow: hidden;
      }

      .box-buttons {
        width: 100%;
        font-size: 1.750em;
        text-align: center;
      }
    }
  }
</style>