<template>
  <nav class="menu">
    <ul class="menu-list">
      <li class="menu-item" v-for="route of routes" :key="route.name">
        <router-link :to="route.path ? route.path : '/'">{{ route.text }}</router-link>
      </li>
    </ul>
  </nav>
</template>
<script>
  export default {
    props: {
      routes: {
        type: Array,
        required: true
      }
    }
  }
</script>
<style lang="scss" scoped>
  .menu {
    width: 100%;

    .menu-list {
      width: 100%;
      box-sizing: border-box;
      list-style: none;

      .menu-item {
        display: inline-block;
        vertical-align: middle;
        margin: .10%;

        a {
          padding: .5em;
          border-radius: 10px;
          text-decoration: none;
          color: #fff;
          background-color: #313131;
        }
      }
    }
  }
</style>