<template>
  <div class="panel">
    <h2 class="panel-title">{{ title }}</h2>
    <transition name="panel">
        <slot />
    </transition>
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        required: true
      }
    }
  }
</script>

<style lang="scss" scoped>
  .panel {
    &:hover {
      animation-name: hoverEffect;
      animation-duration: .4s;
    }

    @keyframes hoverEffect {
      0% { transform: translateY(0%); }
      50% { transform: translateY(-3%); }
      100% { transform: translateY(0%); }
    }

    .panel-title {
      width: 90%;
      margin: .5em auto;
      color: #313131;
    }
  }
</style>
