<template>
  <div class="container">
    <section class="header">
      <h1 class="title">{{ title }}</h1>
      <p class="message">{{ message }}</p>
    </section>
    <section class="main">
      <ul class="group-list">
        <li class="group-item" v-for="group of groups" :key="group._id">
          <a href="#group" class="group-link" @click.prevent="FGroup = (FGroup != group._id) ? group._id : ''" :class="(FGroup == group._id) ? 'active' : ''">{{ group.nome }}</a>
        </li>
      </ul>
      <input type="search" class="filter" @input="filter = $event.target.value" placeholder="Filtrar pelo Título">
      <ul class="photo-list">
        <li class="photo-item" v-for="photo of photosFilter" :key="photo._id">
          <comp-panel :title="photo.titulo">
            <div class="photo-content">
              <div class="photo-box">
                <comp-responsive-img :url="photo.url" :title="photo.titulo" v-comp-transform:scale.animate="1.5" />
              </div>
              <router-link :to="{ name: 'edit', params: { id: photo._id } }">
                <comp-button text="Alterar" type="button" />
              </router-link>
              <comp-button text="Remover" type="button" @buttonAction="remove(photo)" :confirm="true" btnStyle="warning" />
            </div>
          </comp-panel>
        </li>
      </ul>
    </section>
  </div>
</template>
<script>
  import Panel from '../shared/panel/Panel.vue';
  import ResponsiveImg from '../shared/responsive-img/ResponsiveImg.vue';
  import Button from '../shared/button/Button.vue';
  import GroupsService from '../../domain/groups/GroupsService';
  import PhotosService from '../../domain/photos/PhotosService';

  export default {
    components: {
      'comp-panel': Panel,
      'comp-responsive-img': ResponsiveImg,
      'comp-button': Button
    },
    data() {
      return {
        title: 'Galeria de Fotos',
        groups: [],
        photos: [],
        FGroup: '',
        filter: '',
        message: ''
      }
    },
    created() {
      this.groupsService = new GroupsService(this.$resource);
      this.groupsService
        .list()
        .then(
          groups => this.groups = groups,
          err => this.message = err,
        );
      
      this.service = new PhotosService(this.$resource);
      this.service
        .list()
        .then(
          photos => this.photos = photos,
          err => this.message = err,
        );
    },
    computed: {
      photosFilter() {
        let FReturn = this.photos;
        let group = this.FGroup;
        let filter = this.filter;
        
        if(group) {
          FReturn = this.photos.filter(photo => photo.grupo == group);
        }
        
        if(filter) {
          let exp = new RegExp(filter.trim(), 'i');
          FReturn = this.photos.filter(photo => exp.test(photo.titulo));
        }

        return FReturn;
      }
    },
    methods: {
      remove(data) {
        this.service
          .delete(data._id)
          .then(
            () => {
              let index = this.photos.indexOf(data);
              this.photos.splice(index,1);
              this.message = 'Foto removida com sucesso!'
            },
            err => this.message = err,
          );
      }
    }
  }
</script>
<style lang="scss" scoped>
  .container {
    .header {
      .title, .message {
        text-align: center;
      }

      .title {
        font-size: 2.5em;
        text-transform: uppercase;
      }
    }

    .main {
      width: 80%;
      margin: 0 auto;

      .group-list {
        width: 100%;
        margin: 1% 0;
        padding: 0;
        list-style: none;
        text-align: center;

        .group-item {
          display: inline-block;
          margin: .20%;
          text-transform: capitalize;

          .group-link {
            padding: .5em;
            border: 1px solid #313131;
            border-radius: 10px;
            text-decoration: none;
            color: #313131;

            &.active {
              color: #fff;
              background-color: #313131;
            }
          }
        }
      }

      .filter {
        width: 100%;
        padding: .5em;
        border: 1px solid #313131;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 1.5em;
        font-family: inherit;
        color: #313131;
      }

      .photo-list {
        list-style: none;

        .photo-item {
          display: inline-block;
          vertical-align: top;
          width: 23%;
          margin: 1%;

          .photo-content {
            width: 100%;
            text-align: center;
            
            .photo-box {
              position: relative;
              width: 100%;
              padding-top: 100%;
              border-radius: 20px;
              font-size: 0;
              text-align: center;
              background-color: #f2f2f2;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
</style>