<template>
  <div class="box-select">
    <label v-if="label" :for="id">{{ label }}</label>
    <select
      :id="id"
      :name="name"
      @change="updateValue('change', $event)"
      @blur="updateValue('blur', $event)"
      @focus="updateValue('focus', $event)"
    >
      <option
        v-for="option of options"
        :value="option._id"
        :selected="(selected == option._id)"
        :key="option._id"
      >
        {{ option.nome }}
      </option>
    </select>
    <span v-if="error" class="error">{{ error }}</span>
  </div>
</template>
<script>
export default {
  props: {
    id: {
      type: String,
      require: true
    },
    options: {
      type: Array,
      required: true
    },
    name: String,
    label: String,
    selected: Boolean,
    error: String,
  },
  methods: {
    updateValue(action, event) {
      this.$emit(action, event.target.value);
    },
  }
}
</script>
<style lang="scss" scoped>
  .box-select {
    font-size: 1.2em;
    margin: 0 0 20px;

    label {
      display: block;
      font-weight: 600;
    }

    select {
      width: 100%;
      padding: .5em;
      border: 1px solid #313131;
      border-radius: 10px;
      box-sizing: border-box;
      font-size: inherit;
      font-family: inherit;
      text-transform: capitalize;
      color: #313131;
    }

    .error {
      width: 100%;
      margin: 1% 0;
      font-size: .750em;
      color: tomato;
    }
  }
</style>