<template>
  <div class="box-textarea">
    <label v-if="label" :for="id">{{ label }}</label>
    <textarea
      :id="id"
      :name="name"
      :value="value"
      @input="updateValue('input', $event)"
      @change="updateValue('change', $event)"
      @blur="updateValue('blur', $event)"
      @focus="updateValue('focus', $event)"
    />
    <span v-if="error" class="error">{{ error }}</span>
  </div>
</template>
<script>
  export default {
    props: {
      id: {
        type: String,
        require: true
      },
      name: String,
      label: String,
      value: String,
      error: String,
    },
    methods: {
      updateValue(action, event) {
        this.$emit(action, event.target.value);
      },
    }
  }
</script>
<style lang="scss" scoped>
  .box-textarea {
    font-size: 1.2em;
    margin: 0 0 20px;

    label {
      display: block;
      font-weight: 600;
    }

    textarea {
      width: 100%;
      height: 200px;
      padding: .5em;
      border: 1px solid #313131;
      border-radius: 10px;
      box-sizing: border-box;
      font-size: inherit;
      font-family: inherit;
      color: #313131;
    }

    .error {
      width: 100%;
      margin: 1% 0;
      font-size: .750em;
      color: tomato;
    }
  }
</style>