<template>
  <div class="container">
    <comp-menu :routes="routes" />
    <transition name="page">
      <router-view />
    </transition>
  </div>
</template>
<script>
  import { routes } from './routes';
  import Menu from './components/shared/menu/Menu.vue';

  export default {
    components: {
      'comp-menu': Menu
    },
    data() {
      return {
        routes: routes.filter(route => route.menu)
      }
    }
  }
</script>
<style lang="scss" scoped>
  .container {
    width: 100%;
    font-family: "Helvetica", Arial, sans-serif;

    .page-enter, .page-leave-active {
      opacity: 0;
    }

    .page-enter-active, .page-leave-active {
      transition: opacity .4s;
    }
  }
</style>
