<template>
  <img :src="url" :alt="title" class="responsive-img">
</template>

<script>
  export default {
    props: {
      url: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: true
      }
    }
  }
</script>

<style lang="scss" scoped>    
  .responsive-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    margin: auto;
  }
</style>
